<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.cs.mall.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.cqu.cs.mall.domain.ProductDO">
        <!--@mbg.generated-->
        <!--@Table message_record-->
        <id column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="asin" jdbcType="VARCHAR" property="asin"/>
        <result column="categories" jdbcType="VARCHAR" property="categories"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="im_url" jdbcType="INTEGER" property="imUrl"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="related" jdbcType="VARCHAR" property="related"/>
        <result column="sales_rank" jdbcType="VARCHAR" property="salesRank"/>
        <result column="item_id" jdbcType="VARCHAR" property="itemId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.cqu.cs.mall.domain.ProductDO" useGeneratedKeys="true" keyProperty="productId">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="asin != null and asin != ''">asin,</if>
            <if test="categories != null and categories != ''">categories,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="price != null and price != ''">price,</if>
            <if test="imUrl != null and imUrl != ''">im_url,</if>
            <if test="brand != null and brand != ''">brand,</if>
            <if test="related != null and related != ''">related,</if>
            <if test="salesRank != null and salesRank != ''">sales_rank,</if>
            <if test="itemId != null">item_id,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="asin != null and asin != ''">#{asin},</if>
            <if test="categories != null and categories != ''">#{categories},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="price != null and price != ''">#{price},</if>
            <if test="imUrl != null and imUrl != ''">#{imUrl},</if>
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="related != null and related != ''">#{related},</if>
            <if test="salesRank != null and salesRank != ''">#{salesRank},</if>
            <if test="itemId != null">#{itemId},</if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="int">
        DELETE FROM t_product WHERE product_id = #{productId}
    </delete>

    <select id="selectById" resultType="ProductDO">
        select * from t_product where product_id = #{productId}
    </select>

    <select id="pageQuery" resultType="com.cqu.cs.mall.dto.resp.ProductPageRespDTO">
        select
            *
        from
            t_product
        <where>
            <if test="title != null and title != ''">
                title like concat('%',#{title},'%')
            </if>
            <if test="brand != null and brand != ''">
                and brand = #{brand}
            </if>
            <if test="lowBound != null">
                and price >= #{lowBound}
            </if>
            <if test="highBound != null">
                and price &lt;= #{highBound}
            </if>
        </where>
        limit #{offset},#{pageSize};
    </select>

    <select id="getAllProductBrandType" resultType="java.lang.String">
        select distinct brand from t_product;
    </select>

    <select id="selectByAsin" resultType="com.cqu.cs.mall.domain.ProductDO">
        select * from t_product where asin = #{asin}
    </select>


</mapper>